RewriteEngine On

# Set the base for the rewrite rules to the current directory (admin/)
RewriteBase /admin/

# Redirect only if the request is for the root of the 'admin' directory (empty string after RewriteBase)
RewriteRule ^$ dashboard/ [L,R=301]